VITE_COGNITO_AUTHORITY=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_BvsKFxrBT
VITE_COGNITO_DOMAIN=https://login.beargoosecompany.com
VITE_COGNITO_CLIENT_ID=6dhuutprfkg84jf84itqa55uas
VITE_COGNITO_REDIRECT_URL=https://app.beargoosecompany.com/
VITE_COGNITO_LOGOUT_URL=https://app.beargoosecompany.com/login
VITE_COGNITO_RESPONSE_CODE=code
VITE_COGNITO_SCOPE="email openid phone"
VITE_API_GATEWAY=https://api.beargoosecompany.com
VITE_API_KEY=FkaLdkvAlwkfWkeo32ffd1d3cCsaCAw33129dD